nbproject
*~
.swp
._*
.~lock.*
.buildpath
.DS_Store
.DS_STORE
.idea
.project
.settings
.settings/**/*
composer.lock
vendor/bin
Thumbs.db
.htaccess
.modgit/
*.cache
.properties
build.properties
cache.properties
dev.cache.properties
live.cache.properties
devonline.cache.properties
.externalToolBuilders
.externalToolBuilders/**/*
src/tests/
src/tests/**/*
/test.php
build.sh
build.xml
build.properties
build.default.properties
app/etc/config.xml
app/etc/enterprise.xml
app/etc/local.xml
app/etc/local.xml.additional
app/etc/local.xml.template
app/.htaccess
#cron.php
#cron.sh
downloader/
errors/
favicon.ico
#get.php
#includes/
index.php.sample
install.php
#js/blank.html
#js/calendar/
#js/enterprise/
#js/extjs/
#js/firebug/
#js/flash/
#js/index.php
#js/jscolor/
#js/lib/
#js/mage/
#js/prototype/
#js/scriptaculous/
#js/spacer.gif
#js/tiny_mce/
#js/varien/
#lib/3Dsecure/
#lib/Apache/
#lib/flex/
#lib/googlecheckout/
#lib/.htaccess
#lib/LinLibertineFont/
#lib/Mage/
#lib/PEAR/
#lib/phpseclib/
#lib/Varien/
#lib/Zend/
#LICENSE_AFL.txt
#LICENSE.html
#LICENSE.txt
#LICENSE_EE*
#mage
media
media/
nbproject/
#pear
#pear/
php.ini.sample
pkginfo/
#RELEASE_NOTES.txt
#shell/abstract.php
#shell/compiler.php
#shell/indexer.php
#shell/log.php
var/
package.xml
sitemap.xml
modman/
.modman/
skin/frontend/pyua/default/css/.sass-cache/
skin/frontend/pyua/default/css/node_modules/
skin/frontend/pyua/default/css/Gruntfile.js
skin/frontend/pyua/default/css/package.json
back/
/soap_test.php
