/* ####################################### */
/* ########### STANDARD SETUP ############ */
/* ####################################### */

.protoshow,
.protoshow .show {
	position: relative;
	margin: 0 0 0 -28px;
	padding: 0;
	list-style: none;
	width: 990px;
	height: 295px;
	overflow: hidden;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	height: 100%;
}

.active-slide {
	z-index: 100;
}

.protoshow .slide-caption {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
	padding: 1em 10px;
	background-color: #000;
	background-color: rgba(0,0,0,.4);
	color:#fff;
}

.proto-progress-timer {
	position: absolute;
	top: 7px;
	right: 7px;
	z-index: 9999;
}


/* TRANSITION SLIDE
------------------------------------------------*/

.transition-slide .show-window {
	overflow: hidden;
	position: relative;
}

.transition-slide .show {
	position: absolute;
	top: 0;
	left: 0;
	width: 999999px;
}

.transition-slide .slide {
	position: static; /*overide*/
	float: left;
	display: block;
}



/* PROTO NAVIGATION
------------------------------------------------*/

.proto-navigation {
    float: right;
    position: absolute;
    right: 50%;
    z-index: 120;
    bottom: 5px;
}

.proto-navigation li {
    float: left;
    left: 50%;
    padding: 12px 6px;
    position: relative;

}

.proto-navigation a {
	background-color: #fff;
    height: 8px;
    text-decoration: none;
  	 width: 8px;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	-moz-box-shadow:    inset 0 1px 0 1px rgba(0,0,0,.1);
	-webkit-box-shadow:    inset 0 1px 0 1px rgba(0,0,0,.1);
	box-shadow:    inset 0 1px 0 1px rgba(0,0,0,.1);
}

.proto-navigation a:hover,
.proto-navigation a:focus {
	background-color: #0379b4;
}

.proto-navigation .current-slide a {
	background-color: #0379b4;
}


.show{
	margin: 0;
	padding: 0;
	position: relative;
}


.show li{
margin: 0;
padding: 0;
width: 100%;
}

.show li img{
width: 100%;
min-width: 100%;
}




/* PROTO CONTROLS
------------------------------------------------*/

#myshow1{
	position: relative;
	left: -2px;
	z-index: 1;
}


.show li div{
	display: block;
	background-color: #fff;
	padding: 5px;
		padding-top: 3px;
		padding-bottom: 3px;
	border-radius: 5px;
	color: #666666!important;
	height: auto!important;
	width: auto!important;
	/*background-image: url('white-oparc-70.png');
	background-position: left top;
	background-repeat: repeat;*/
	border: 1px solid #c0c0c0;
}



div.col-main .show strong{
		color: #666666;

}

.show li div b,
.show li div strong{
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
}

.show li div a{
	color: #666666;
	text-decoration: none;
}

.protoshow .center{
	position: absolute;
	width: 100%;
	top: 125px;
}

.protoshow .center a{
	width: 36px;
	height: 35px;
	z-index: 9999;
	display: block;
	background-image: url('../custom_sprites.png');
	background-repeat: no-repeat;
}

.protoshow .center a#prev{
	position: absolute;
	left: 40px;
	display: block;
	background-position: -68px 0px;
}

.protoshow .center a#next{
	position: absolute;
	right: 35px;
	display: block;
	background-position: -36px -65px;
}

.protoshow .center a#prev:hover{
	background-position: 0px -65px;
	cursor: pointer;
}

.protoshow .center a#next:hover{
	background-position: -104px 0px;
	cursor: pointer;
}

.protoshow .cycle-pager {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
}

.protoshow .cycle-pager span{
	background-color: #fff;
	height: 15px;
	text-decoration: none;
	width: 15px;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	-moz-box-shadow:    inset 0 1px 0 1px rgba(0,0,0,.1);
	-webkit-box-shadow:    inset 0 1px 0 1px rgba(0,0,0,.1);
	box-shadow:    inset 0 1px 0 1px rgba(0,0,0,.1);
	display: inline-block;
	margin-left: 10px;
	cursor: pointer;
}

.protoshow .cycle-pager span.cycle-pager-active{
	background-color: #0379b4;
}

ol.proto-controls .start-stop{
display: none;
}

ol.proto-navigation li a{
   display: block;
    height: 15px;
    overflow: hidden;
    text-indent: -99999px;
    width: 15px;
    border: 0;
}


.protoshow iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    background-color: #000;
    
}

.protoshow iframe #player{
    display: block;
    margin: 0 auto;
    width: 500px;
}


