.product-options dt label {
  width: 100%;
}
.product-options dt label a.sizeTableLink {
  margin-right: 0px;
}

@media (min-width: 771px) and (max-width: 989px) {
  .catalog-category-view .col-main {
    width: 78%;
  }
  .catalog-category-view .col-left {
    width: 20%;
  }
  .catalog-category-view .page-title.category-title {
    top: 60px;
    left: 220px;
  }
  .catalog-category-view .page-title.category-title h1 {
    font-size: 30px;
  }

  .catalog-product-view .col2-left-layout .col-main {
    padding-left: 30px;
    padding-right: 0;
    width: 100%;
  }
  .catalog-product-view .col-left {
    width: 100%;
  }
  .catalog-product-view #upselling #upsell-product-table li {
    float: left;
  }

  .toolbar .pages {
    min-width: 130px;
  }

  table.pyua_produkttabelle .attr_produktfeatures .t3_SText {
    bottom: 276px;
  }
  table.pyua_produkttabelle .attr_produktfeatures .sword.active strong {
    color: #5dc8fe;
  }
  table.pyua_produkttabelle .attr_produktfeatures .sword.active:hover::before {
    display: none;
  }
  table.pyua_produkttabelle .attr_produktinfos .t2_SText {
    bottom: 276px;
  }
  table.pyua_produkttabelle .attr_produktinfos .sword.active strong {
    color: #5dc8fe;
  }
  table.pyua_produkttabelle .attr_produktinfos .sword.active:hover::before {
    display: none;
  }
}
@media (min-width: 771px) and (max-width: 820px) {
  .catalog-product-view .col2-left-layout .col-main {
    width: 770px;
  }
}
@media (min-width: 0) and (max-width: 770px) {
  .catalog-category-view #leftmenu {
    display: none;
  }
  .catalog-category-view .col-main {
    width: 100%;
    overflow: hidden;
  }
  .catalog-category-view .col-left {
    display: none;
  }
  .catalog-category-view .page-title.category-title {
    top: 60px;
    left: 20px;
  }
  .catalog-category-view .page-title.category-title h1 {
    font-size: 20px;
  }

  .catalog-product-view .col-left {
    width: 100%;
  }
  .catalog-product-view #upselling #upsell-product-table li {
    float: left;
  }
  .catalog-product-view #wrap {
    overflow: hidden;
  }
  .catalog-product-view .cloud-zoom-big {
    display: none !important;
  }

  table.pyua_produkttabelle .attr_produktfeatures .t3_SText {
    bottom: 246px;
    height: inherit;
    width: inherit;
    margin-left: -50%;
    border-radius: 5px;
    margin-right: 15px;
    z-index: 1000;
  }
  table.pyua_produkttabelle .attr_produktfeatures .sword.active strong {
    color: #5dc8fe;
  }
  table.pyua_produkttabelle .attr_produktfeatures .sword.active:hover::before {
    display: none;
  }
  table.pyua_produkttabelle .attr_produktinfos .t2_SText {
    bottom: 246px;
    height: inherit;
    width: inherit;
    margin-right: 15px;
    border-radius: 5px;
    z-index: 1000;
  }
  table.pyua_produkttabelle .attr_produktinfos .sword.active strong {
    color: #5dc8fe;
  }
  table.pyua_produkttabelle .attr_produktinfos .sword.active:hover::before {
    display: none;
  }

  .toolbar .sorter {
    margin-right: 30px;
  }
  .toolbar .limiter {
    margin-left: 0px;
  }
  .toolbar .pager {
    float: left;
  }
  .toolbar .pager .pages {
    min-width: 130px;
  }
}
@media (min-width: 0) and (max-width: 479px) {
  .catalog-category-view .page-title.category-title {
    top: 40px;
    left: 25px;
  }
  .catalog-category-view .page-title.category-title h1 {
    display: none;
  }

  .catalog-product-view #wrap .cloud-zoom img {
    width: 100%;
  }

  table.pyua_produkttabelle .attr_produktfeatures .t3_SText {
    bottom: 536px;
  }
  table.pyua_produkttabelle .attr_produktfeatures .sword.active:hover::before {
    display: none;
  }
  table.pyua_produkttabelle .attr_produktinfos .t2_SText {
    bottom: 536px;
  }

  .overlay-gallery-img {
    margin: 50px auto 0;
    width: 100%;
  }

  .toolbar .pages {
    margin-left: 10px;
  }
  .toolbar .sorter {
    margin-right: 0px;
  }
}
