.small-show {
  display: none;
}

@media (min-width: 771px) and (max-width: 989px) {
  .startseite-overlay .overlay-newsletter-close {
    margin-left: 340px;
  }

  #header-nav {
    left: 170px;
  }
  #header-nav .nav-primary > li > a {
    padding-left: 7px;
    padding-right: 7px;
  }

  .page {
    width: inherit;
  }

  .cms-home .main-container {
    padding: 15px 0 0;
    overflow: hidden;
  }

  .protoshow {
    width: inherit;
    margin: 0px;
  }

  .cms-home #product-list-table {
    width: 100% !important;
    max-width: inherit;
  }

  .cms-home #product-list-table .slide-product {
    width: 100%;
  }

  .cms-home #product-list-table .cycle-carousel-wrap {
    width: 100% !important;
  }

  .cms-home #product-list-table .list-product .product-image img {
    width: 100%;
    height: auto;
  }

  .cms-home div.block-content {
    width: 100%;
  }

  .pyua-news .news-block {
    width: 32%;
    margin-right: 1.333%;
    overflow: hidden;
  }

  .firstrow {
    margin-top: 0px;
  }

  .firstrow .p25 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .secondrow {
    padding-top: 0px;
    margin-top: 0px;
  }

  .footer-container {
    padding: 0px 0px 15px;
  }

  .footer-container .p25 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .secondrow ul {
    left: 0px;
  }

  .col-main {
    width: 100%;
  }

  .product-img-box {
    overflow: hidden;
  }

  .startseite-overlay form input#newsletter-startseite {
    margin-left: 95px;
  }

  .protoshow,
  .protoshow .show {
    margin: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
}
@media (min-width: 0) and (max-width: 770px) {
  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  #header {
    min-height: inherit;
    padding-right: 13px;
  }

  .page {
    width: inherit;
    margin: 0;
  }

  .logo {
    width: 70px;
    min-width: inherit;
    top: inherit;
  }

  .logo .large {
    height: 55px;
    width: 50px;
  }

  #header-nav {
    float: left;
    left: inherit;
    position: inherit;
    top: inherit;
    width: inherit;
  }
  #header-nav nav#nav .nav-primary > li > a {
    padding-left: 25px;
  }
  #header-nav nav#nav .nav-primary li {
    border-bottom: 1px solid #C0C0C0;
    display: block;
    width: 100%;
    line-height: 35px;
  }
  #header-nav nav#nav .nav-primary li:last-child {
    border-bottom: none;
  }
  #header-nav nav#nav .nav-primary li a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .skip-link .label {
    display: block;
  }

  .skip-link.skip-active, .skip-content.skip-active {
    background: none;
  }

  .skip-links {
    width: 100%;
    padding-top: 5px;
  }

  .skip-links .skip-link .label {
    display: inline;
    color: #666;
    font-size: 19px;
    font-weight: 600;
  }

  .skip-cart.no-count .count {
    display: block;
  }

  #header-account {
    display: none;
  }

  .page-header-container {
    display: inline-block;
    width: 100%;
  }

  .pyua_header_options {
    float: right;
    top: inherit;
    width: inherit;
    min-width: inherit;
    min-height: inherit;
    position: relative;
    margin-top: 15px;
    margin-left: 10px;
    display: inline-block;
  }

  .pyua_header_options a {
    float: left;
    min-width: 60px;
  }

  header span.goToCheckout {
    display: inline-block;
    margin-left: 5px;
    padding-left: 5px;
    border-left: 1px solid #BFBFBF;
  }

  #account-pyua {
    background-position: 41px 4px;
    padding-left: 7.5px;
    margin-left: 7.5px;
    border-left: 1px solid #BFBFBF;
  }

  .header-minicart {
    display: block;
    float: left;
    width: 100px;
  }
  .header-minicart #header-cart {
    left: 90px;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .header-minicart .skip-cart {
    padding-left: 30px;
    position: relative;
    min-width: 200px;
    left: inherit;
    top: inherit;
  }

  .header-minicart .subtotal-pyua {
    float: left;
  }

  .header-minicart .pyua-count {
    float: left;
    margin-left: 5px;
    font-weight: bold;
  }

  .minicart a.my-minicart-button {
    width: 100%;
  }

  .cms-home .main-container {
    padding: 15px 0;
    overflow: hidden;
  }

  .protoshow {
    width: inherit;
    margin: 0px;
  }

  .cms-home #product-list-table {
    width: 100% !important;
  }

  .cms-home #product-list-table .slide-product {
    width: 100%;
    max-height: 280px;
  }
  .cms-home #product-list-table .slide-product .list-product {
    padding-left: 10px;
    float: left;
  }

  .cms-home #product-list-table .cycle-carousel-wrap {
    width: 100% !important;
  }

  .cms-home #product-list-table .list-product .product-image img {
    width: 100%;
    height: auto;
  }

  .cms-home div.block-content {
    width: 100%;
  }

  .protoshow .center {
    top: 70px;
  }

  .pyua-news {
    display: inline-block;
    padding-left: 10px;
  }

  .pyua-news .news-block {
    width: 100%;
    max-width: inherit;
    margin-right: 0;
  }

  .cms-home div.featured-image {
    float: left;
    width: 40%;
    height: inherit;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 0px;
    border: 0px;
  }

  .cms-home div.featured-image img {
    height: auto;
    width: 100%;
    border-radius: 0px;
    border: 0px solid #B2B2B2;
  }

  div#dropdown {
    margin-top: 15px;
  }

  div#dropdown h1.odd, div#dropdown h1.even {
    width: 100%;
  }

  .cms-home .main-container {
    padding: 15px 0 0;
  }

  .firstrow {
    margin-top: 5px;
  }

  .firstrow .p25 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .secondrow {
    padding-top: 0px;
    margin-top: 0px;
  }

  .footer-container {
    padding: 0px 0px 15px;
  }

  .footer-container .p25 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .secondrow ul {
    left: 0px;
  }

  .secondrow ul li {
    margin-bottom: 5px;
  }

  .secondrow ul li.newsletter {
    border-right: 0;
  }

  .secondrow ul li.impress {
    clear: left;
  }

  .secondrow ul li.last {
    margin-left: 0px;
  }

  .startseite-overlay {
    display: none;
  }
}
@media (min-width: 740px) and (max-width: 770px) {
  .cms-home #product-list-table .slide-product {
    max-height: 300px;
  }
}
@media (min-width: 0) and (max-width: 600px) {
  .cms-home #product-list-table .slide-product {
    width: 100%;
    max-height: 235px;
  }
}
@media (min-width: 0) and (max-width: 479px) {
  .toolbar .pager {
    float: left;
  }
  .toolbar .pager .limiter {
    margin-left: 0px;
  }

  .logo {
    width: 60px;
    padding-left: 0;
    padding-right: 0;
  }

  .pyua_header_options {
    width: 210px !important;
    margin-top: 0;
    margin-left: 0;
  }

  .pyua_header_options a {
    float: right;
  }

  #login-pyua {
    padding-left: 5px;
    width: 95px;
    border-left: 1px solid #BFBFBF;
  }

  #login-pyua .label {
    margin-left: 2px;
  }
  #login-pyua .label::after {
    float: left;
    margin-left: 7px;
  }

  #account-pyua {
    margin-left: 0;
    width: 115px;
    padding-left: 20px;
    border-left: 0px;
    background-position: 0px 4px;
  }

  header span.goToCheckout {
    float: right;
    margin-left: 0;
    padding-left: 10px;
    width: 95px;
  }

  .header-minicart {
    width: 88px;
  }

  .header-minicart .skip-cart {
    min-width: inherit;
    width: 100px;
    border-left: 0px;
  }
  .header-minicart .skip-cart span.book {
    display: none;
  }
  .header-minicart .skip-cart .small-show {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
  }

  .header-minicart .pyua-count {
    margin-left: 0;
  }

  .header-minicart #header-cart {
    left: -10px;
    top: 40px;
    padding-top: 25px;
  }

  .mini-products-list .product-details .product-name {
    display: inline-block;
  }

  .minicart a.my-minicart-button {
    width: 100%;
  }

  .cms-home #product-list-table .slide-product .list-product .name {
    font-size: 16px;
  }
  .cms-home #product-list-table .slide-product .list-product .description {
    font-size: 13px;
  }

  .firstrow ul.pyua_footer_liste li {
    height: inherit;
  }

  .secondrow ul li {
    margin-right: 10px;
    padding-right: 10px;
  }

  #abwrackForm {
    width: 100% !important;
    margin-top: 20px;
  }
  #abwrackForm .field.intForm label, #abwrackForm .field.intForm span {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
  }

  .cms-home #product-list-table .list-product {
    width: 100%;
    overflow: inherit;
    display: block;
    max-height: 400px;
  }
  .cms-home #product-list-table .list-product .product-image img {
    width: inherit;
    height: auto;
    margin: 0 auto;
  }

  .slide .hidden-xs {
    display: none;
  }

  .slide .hidden-lg {
    display: block;
  }

  .protoshow .center {
    top: 45%;
  }
}
