.small-show {
  display: none;
}

@media (min-width: 771px) and (max-width: 989px) {
  #header-nav {
    left: 170px;
  }

  .page {
    width: inherit;
  }

  .cms-home .main-container {
    padding: 15px 0 0;
    overflow: hidden;
  }

  .protoshow {
    width: inherit;
    margin: 0px;
  }

  .cms-home #product-list-table {
    width: 100% !important;
  }

  .cms-home #product-list-table .slide-product {
    width: 100%;
  }

  .cms-home #product-list-table .cycle-carousel-wrap {
    width: 100% !important;
  }

  .cms-home #product-list-table .list-product .product-image img {
    width: 100%;
    height: auto;
  }

  .cms-home div.block-content {
    width: 100%;
  }

  .pyua-news .news-block {
    width: 32%;
    margin-right: 1.333%;
    overflow: hidden;
  }

  .firstrow {
    margin-top: 0px;
  }

  .firstrow .p25 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .secondrow {
    padding-top: 0px;
    margin-top: 0px;
  }

  .footer-container {
    padding: 0px 0px 15px;
  }

  .footer-container .p25 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .secondrow ul {
    left: 0px;
  }
}
@media (min-width: 0) and (max-width: 770px) {
  #header {
    min-height: inherit;
  }

  .page {
    width: inherit;
  }

  .logo {
    width: 70px;
    min-width: inherit;
    top: inherit;
  }

  .logo .large {
    height: 55px;
    width: 50px;
  }

  #header-nav {
    float: left;
    left: inherit;
    position: inherit;
    top: inherit;
    width: inherit;
  }
  #header-nav nav#nav .nav-primary > li > a {
    padding-left: 25px;
  }

  .skip-link .label {
    display: block;
  }

  .skip-links {
    width: 100%;
    padding-top: 5px;
  }

  .skip-links .skip-link .label {
    display: inline;
    color: #666;
    font-size: 19px;
    font-weight: 600;
  }

  .skip-cart.no-count .count {
    display: block;
  }

  #header-account {
    display: none;
  }

  .page-header-container {
    display: inline-block;
    width: 100%;
  }

  .pyua_header_options {
    float: right;
    top: inherit;
    width: inherit;
    min-width: inherit;
    min-height: inherit;
    position: relative;
    margin-top: 15px;
    margin-left: 10px;
    display: inline-block;
  }

  .pyua_header_options a {
    float: left;
    min-width: 60px;
  }

  header span.goToCheckout {
    display: inline-block;
    margin-left: 5px;
    padding-left: 5px;
    border-left: 1px solid #BFBFBF;
  }

  #account-pyua {
    background-position: 41px 4px;
    padding-left: 7.5px;
    margin-left: 7.5px;
    border-left: 1px solid #BFBFBF;
  }

  .header-minicart {
    display: block;
    float: left;
    width: 100px;
  }

  .header-minicart .skip-cart {
    padding-left: 30px;
    position: relative;
    min-width: 200px;
    left: inherit;
    top: inherit;
  }

  .header-minicart .subtotal-pyua {
    float: left;
  }

  .header-minicart .pyua-count {
    float: left;
    margin-left: 5px;
    font-weight: bold;
  }

  .minicart a.my-minicart-button {
    width: 100%;
  }

  .cms-home .main-container {
    padding: 15px 0;
    overflow: hidden;
  }

  .protoshow {
    width: inherit;
    margin: 0px;
  }

  .cms-home #product-list-table {
    width: 100% !important;
  }

  .cms-home #product-list-table .slide-product {
    width: 100%;
    max-height: 270px;
  }

  .cms-home #product-list-table .cycle-carousel-wrap {
    width: 100% !important;
  }

  .cms-home #product-list-table .list-product .product-image img {
    width: 100%;
    height: auto;
  }

  .cms-home div.block-content {
    width: 100%;
  }

  .pyua-news {
    display: inline-block;
  }

  .pyua-news .news-block {
    width: 100%;
    max-width: inherit;
    margin-right: 0;
  }

  .cms-home div.featured-image {
    float: left;
    width: 40%;
    height: inherit;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 0px;
    border: 0px;
  }

  .cms-home div.featured-image img {
    height: auto;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #B2B2B2;
  }

  div#dropdown {
    margin-top: 15px;
  }

  div#dropdown h1.odd, div#dropdown h1.even {
    width: 100%;
  }

  .cms-home .main-container {
    padding: 15px 0 0;
  }

  .firstrow {
    margin-top: 5px;
  }

  .firstrow .p25 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .secondrow {
    padding-top: 0px;
    margin-top: 0px;
  }

  .footer-container {
    padding: 0px 0px 15px;
  }

  .footer-container .p25 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .secondrow ul {
    left: 0px;
  }

  .secondrow ul li {
    margin-bottom: 5px;
  }

  .secondrow ul li.newsletter {
    border-right: 0;
  }

  .secondrow ul li.impress {
    clear: left;
  }

  .secondrow ul li.last {
    margin-left: 0px;
  }
}
@media (min-width: 740px) and (max-width: 770px) {
  .cms-home #product-list-table .slide-product {
    max-height: 295px;
  }
}
@media (min-width: 0) and (max-width: 600px) {
  .cms-home #product-list-table .slide-product {
    width: 100%;
    max-height: 235px;
  }
}
@media (min-width: 0) and (max-width: 479px) {
  .pyua_header_options {
    width: 200px !important;
    margin-top: 0;
  }

  .pyua_header_options a {
    float: right;
  }

  #login-pyua {
    padding-left: 9px;
    border-left: 1px solid #BFBFBF;
  }

  #account-pyua {
    margin-left: 0;
    width: 100px;
    padding-left: 0;
    border-left: 0px;
  }

  header span.goToCheckout {
    float: right;
    margin-left: 0;
    padding-left: 0;
    width: 85px;
  }

  .header-minicart .skip-cart {
    min-width: inherit;
    width: 100px;
    border-left: 0px;
  }
  .header-minicart .skip-cart span.book {
    display: none;
  }
  .header-minicart .skip-cart .small-show {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
  }

  .header-minicart .pyua-count {
    margin-left: 0;
  }

  .header-minicart #header-cart {
    left: -10px;
    top: 60px;
    padding-top: 25px;
  }

  .mini-products-list .product-details .product-name {
    display: inline-block;
  }

  .minicart a.my-minicart-button {
    width: 100%;
  }

  .cms-home #product-list-table .slide-product {
    max-height: 200px;
  }

  .firstrow ul.pyua_footer_liste li {
    height: inherit;
  }

  .secondrow ul li {
    margin-right: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 0) and (max-width: 380px) {
  .cms-home #product-list-table .slide-product {
    max-height: 160px;
  }
}
