<?xml version="1.0"?>
<config>
	<modules>
		<Elk_Export>
			<version>0.1.0</version>
		</Elk_Export>
	</modules>
	<global>
		<models>
			<export>
				<class>Elk_Export_Model</class>
			</export>
		</models>
	</global>
	<frontend>
		<routers>
			<elk_export>
				<use>standard</use>
				<args>
					<module>Elk_Export</module>
					<frontName>elk_export</frontName>
				</args>
			</elk_export>
		</routers>
    <events>
	  <customer_adress_form_post>
	      <observers>
			<updatecustomer>
            	<type>singleton</type>
            	<class>export/observer</class>
            	<method>updateCustomer</method>
			</updatecustomer>
      <!--
			<transferorder>
            	<type>singleton</type>
            	<class>export/observer</class>
            	<method>uploadFiles</method>
          	</transferorder>
      -->
		</observers>
	  </customer_adress_form_post>
	  <customer_account_create_post>
	      <observers>
			<updatecustomer>
            	<type>singleton</type>
            	<class>export/observer</class>
            	<method>updateCustomer</method>
			</updatecustomer>
      <!--
			<transferorder>
            	<type>singleton</type>
            	<class>export/observer</class>
            	<method>uploadFiles</method>
          	</transferorder>
          -->
		</observers>
	  </customer_account_create_post>
      <checkout_onepage_controller_success_action>
        <observers>
			<exportcustomer>
            	<type>singleton</type>
            	<class>export/observer</class>
            	<method>exportCustomer</method>
          	</exportcustomer>
			<exportorder>
            	<type>singleton</type>
            	<class>export/observer</class>
            	<method>exportOrder</method>
          	</exportorder>
<!--
			<transferorder>
            	<type>singleton</type>
            	<class>export/observer</class>
            	<method>uploadFiles</method>
          	</transferorder>

-->
        </observers>
      </checkout_onepage_controller_success_action>
    </events>
 </frontend>
</config>